@for(user of users ; track user; let i= $index ){
<div
  class="ifTrue"
  [appMyClass]="{
    ifFalse: !user.isActive
  }"
>
  <div>id :{{ user.id }}</div>
  <div>სახელი : {{ user.firstName }}</div>
  <div>გვარი : {{ user.lastName }}</div>
  <div>isActive: {{ user.isActive }}</div>
  <div>როლი : {{ user.role }}</div>
  <div *appMyStructuralIf="user.role === 'User'">
    <!-- თუ user.role === 'user' დავმალოთ Structural directive -->
    <button (click)="deleteitem(i)">წაშლა</button>
  </div>
  <br />
</div>
}
